body {
	padding: 0px;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}
header
{
	background: transparent;
	display: block;
}
header div
{
	margin: 0px auto;
	background: transparent;
	width: 1100px;
	display: grid;
	grid-template-columns: 40% 20% 40%;
}
header div dl
{
	display: inline-block;
}
	header div dl:nth-child(1) /* 1 блок навигация */
	{
		background: transparent;
	}
	header div dl:nth-child(2) /* 2 блок ЛОГО */
	{
		background: transparent;
	}
	header div dl:nth-child(3) /* 3 блок навигация */
	{
		background: transparent;
	}
header div dl ul
{
	background: transparent;
	width: 100%;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	display: flex;
	justify-content: center;
	line-height: 70px;
	position: relative;
}
	header div dl:nth-child(1) ul /* 1 UL */
	{
		background: transparent;
	}
	header div dl:nth-child(2) ul /* 2 UL ЛОГО */
	{
		background: transparent;
	}
		header div dl:nth-child(2) ul a /* 2 UL ЛОГО */
		{
			position: relative;
			background: transparent;
			height: 211px;
			border-radius: 0px;
			border: 0px;
			color: transparent;
			box-shadow: 0px 0px 0px transparent;
		}
			header div dl:nth-child(2) ul img /* 2 UL ЛОГО */
			{
				/*Для старого лого*/
				/*position: absolute;
				left: -25px;
				top: -10px;
				height: 70px;*/

				/*Для нового лого*/
				position: absolute;
				left: -30px;
				top: -3px;
				/*height: 50px;*/
				

			}
	header div dl:nth-child(3) ul /* 3 UL навигация */
	{
		background: transparent;
	}
header div dl li
{
	background: transparent;
	list-style: none;
	display: inline-block;
}
header div dl li a
{
	margin: 0px 10px 0px 10px;
	background: #facc73;
	color: #000;
	border-radius: 50px;
	border: 0.5px solid #000;
	padding: 12px 48px;
	box-shadow: 0px 0px 0px transparent;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}



#block-for-slider {
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}

#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 13px;
}

#next-btn {
    right: 14px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}













.container { 
width:800px; 
}


.block { 
	display: flex; 
	justify-content: center; 
	background-color: #fff;
} 

.block div { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	border-radius: 20px; 
}
.logo {

	display:flex;
	width: 100px;
	height: 100px;
	justify-content: center; 
	align-items: center; 
}

.logo2 {
	width: 800px;
}

#button{
	margin-bottom: 10;
	margin-left: auto;
	list-style: none;
	font-weight: bold;
}
#button li{
	float: right;
	display: block;
	margin-right: 100px;
	position: relative;
}
#button li a{
	background-color: #da4f6e;
	background-image: linear-gradient(60deg, #e85475 10%, #d48444 50%, #efcb0a 100%);
	color: #f7f4f4;
	border-radius: 50px;
	padding: 12px 48px;
	box-shadow: 0px 0px 9px 2px rgba(195, 195, 195, 0.35);
	transition: all 0.5s ease;
	font-size: 12px;
	font-weight: bold;
}
#button li a:hover{
	text-decoration: underline;
	background: #6b0c33;
	color: #fff;
	background: rgba(108,13,53,0.74); 
}


#buttonLeft{
	margin-bottom: 10;
	margin-left: auto;
	list-style: none;
	font-weight: bold;
}
#buttonLeft li{
	float: right;
	display: block;
	margin-right: 100px;
	position: relative;
}


#buttonLeft li a{
	background-color: #da4f6e;
	background-image: linear-gradient(60deg, #e85475 10%, #d48444 50%, #efcb0a 100%);
	color: #f7f4f4;
	border-radius: 50px;
	padding: 12px 48px;
	box-shadow: 0px 0px 9px 2px rgba(195, 195, 195, 0.35);
	transition: all 0.5s ease;
	font-size: 12px;
	font-weight: bold;
}
#buttonLeft li a:hover{
	background: #6b0c33;
	color: #fff;
	background: rgba(108,13,53,0.74); 
}


.block2 { 
	display: flex; 
	justify-content: center; 
} 

.block2 div { 
	display: flex; 
	justify-content: center; 
	align-items: center;  
	
}


.block3 { 
	display: flex; 
	justify-content: center; 
	height: 130px;

} 

.block3 div { 
	display: flex; 
	justify-content: center; 
	align-items: center;   
	background-color: #f9c96a;
	margin-top: 30px;
	width: 1920px;
}

.text {
	color: #3a186f;
	font-size: 14px;
	text-align: center;
}


